[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wntr = "*"
kafka-python = "*"
influxdb = "*"
influxdb-client = "*"

[dev-packages]

[requires]
python_version = "3.8"
